In [1]:
import pandas as pd

matches = pd.read_csv("matches_3classes.csv", index_col=0)
matches.head()

,date,result,gf,ga,opponent,xg,xga,poss,attendance,captain,...,dist,fk,pk,pkatt,team,venue_code,opp_code,hour,day_code,target
1,2023-08-12,W,2.0,1.0,Nott'ham Forest,0.8,1.2,78.0,59984.0,Martin Ødegaard,...,19.1,0.0,0,0,Arsenal,1,15,12.5,5,2
2,2023-08-21,W,1.0,0.0,Crystal Palace,2.0,1.0,53.0,24189.0,Martin Ødegaard,...,16.4,0.0,1,1,Arsenal,0,7,20.0,0,2
3,2023-08-26,D,2.0,2.0,Fulham,3.2,0.6,71.0,59961.0,Martin Ødegaard,...,13.8,0.0,1,1,Arsenal,1,9,15.0,5,0
4,2023-09-03,W,3.0,1.0,Manchester Utd,2.3,0.9,55.0,60192.0,Martin Ødegaard,...,15.0,0.0,0,0,Arsenal,1,13,16.5,6,2
5,2023-09-17,W,1.0,0.0,Everton,1.0,0.3,74.0,39217.0,Martin Ødegaard,...,17.4,0.0,0,0,Arsenal,0,8,16.5,6,2

In [2]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

train = matches[matches["date"] < '2024-01-01']
test = matches[matches["date"] > '2024-01-01']

In [3]:
train.describe()

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,venue_code,opp_code,hour,day_code,target
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.556122,1.556122,1.506122,1.506122,50.000000,38291.897959,13.165816,4.418367,16.740306,0.359694,0.130102,0.142857,0.500000,9.505102,15.854592,4.704082,1.224490
std,1.276149,1.276149,0.838226,0.838226,13.819627,17727.024935,5.622894,2.519178,3.022492,0.559236,0.358901,0.371628,0.500639,5.781616,2.270804,1.511823,0.736767
min,0.000000,0.000000,0.000000,0.000000,20.000000,10290.000000,2.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.500000,0.000000,0.000000
25%,1.000000,1.000000,0.900000,0.900000,39.000000,24444.750000,9.000000,3.000000,14.900000,0.000000,0.000000,0.000000,0.000000,5.000000,14.000000,5.000000,1.000000
50%,1.000000,1.000000,1.300000,1.300000,50.000000,31812.000000,12.000000,4.000000,16.700000,0.000000,0.000000,0.000000,0.500000,9.000000,15.000000,5.000000,1.000000
75%,2.000000,2.000000,2.100000,2.100000,61.000000,53117.250000,16.000000,6.000000,18.325000,1.000000,0.000000,0.000000,1.000000,15.000000,17.500000,6.000000,2.000000
max,8.000000,8.000000,4.100000,4.100000,80.000000,73607.000000,34.000000,15.000000,39.900000,2.000000,2.000000,2.000000,1.000000,19.000000,20.250000,6.000000,2.000000

In [4]:
test.describe()

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,venue_code,opp_code,hour,day_code,target
count,320.00000,320.00000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.00000
mean,1.71875,1.71875,1.568437,1.568437,50.000000,38533.543750,14.156250,4.893750,16.753750,0.384375,0.128125,0.143750,0.500000,9.450000,16.425000,4.318750,1.08750
std,1.40162,1.40162,0.892377,0.892377,13.884205,18081.797256,6.335992,2.716712,2.640625,0.627784,0.370321,0.385422,0.500783,5.794603,2.474605,1.824157,0.79487
min,0.00000,0.00000,0.100000,0.100000,18.000000,10994.000000,2.000000,0.000000,8.400000,0.000000,0.000000,0.000000,0.000000,0.000000,12.500000,0.000000,0.00000
25%,1.00000,1.00000,0.900000,0.900000,40.000000,24417.000000,9.000000,3.000000,14.900000,0.000000,0.000000,0.000000,0.000000,4.000000,15.000000,3.750000,0.00000
50%,1.00000,1.00000,1.400000,1.400000,50.000000,38193.000000,13.000000,5.000000,16.750000,0.000000,0.000000,0.000000,0.500000,9.000000,15.000000,5.000000,1.00000
75%,3.00000,3.00000,2.100000,2.100000,60.000000,53445.000000,18.000000,6.000000,18.500000,1.000000,0.000000,0.000000,1.000000,14.250000,19.500000,5.000000,2.00000
max,6.00000,6.00000,4.200000,4.200000,82.000000,73612.000000,36.000000,15.000000,25.400000,3.000000,2.000000,2.000000,1.000000,19.000000,20.250000,6.000000,2.00000

In [5]:
from sklearn.svm import LinearSVC, SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

svc = LinearSVC(multi_class = 'ovr',
                C = 1/120,
                dual = True)

svc.fit(train[predictors], train['target'])

LinearSVC(C=0.008333333333333333, dual=True)

In [6]:
preds = svc.predict(test[predictors])

In [7]:
error = accuracy_score(test['target'], preds)

In [8]:
error

0.44375

In [9]:
precision_score(test['target'], preds, 
                average='macro')

C:\Users\Hoang Hiep\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.29583333333333334

In [10]:
precision_score(test['target'], preds, 
                average='micro')

0.44375

In [11]:
precision_score(test['target'], preds, 
                average='weighted')

C:\Users\Hoang Hiep\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.32171874999999994

In [12]:
svc.score(test[predictors], test["target"])

0.44375

In [13]:
combined = pd.DataFrame(dict(actual=test['target'], predicted=preds))

In [14]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   1   2
actual
0          44  44
1          71  45
2          45  71

In [15]:
from sklearn import preprocessing
matches[predictors] = preprocessing.scale(matches[predictors]) 
matches

,date,result,gf,ga,opponent,xg,xga,poss,attendance,captain,...,dist,fk,pk,pkatt,team,venue_code,opp_code,hour,day_code,target
1,2023-08-12,W,2.0,1.0,Nott'ham Forest,0.8,1.2,78.0,59984.0,Martin Ødegaard,...,19.1,0.0,0,0,Arsenal,1.0,0.954763,-1.519389,0.286280,2
2,2023-08-21,W,1.0,0.0,Crystal Palace,2.0,1.0,53.0,24189.0,Martin Ødegaard,...,16.4,0.0,1,1,Arsenal,-1.0,-0.430808,1.626909,-2.684704,2
3,2023-08-26,D,2.0,2.0,Fulham,3.2,0.6,71.0,59961.0,Martin Ødegaard,...,13.8,0.0,1,1,Arsenal,1.0,-0.084415,-0.470623,0.286280,0
4,2023-09-03,W,3.0,1.0,Manchester Utd,2.3,0.9,55.0,60192.0,Martin Ødegaard,...,15.0,0.0,0,0,Arsenal,1.0,0.608371,0.158637,0.880476,2
5,2023-09-17,W,1.0,0.0,Everton,1.0,0.3,74.0,39217.0,Martin Ødegaard,...,17.4,0.0,0,0,Arsenal,-1.0,-0.257611,0.158637,0.880476,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,2024-04-13,L,0.0,2.0,Brentford,0.8,1.0,47.0,17115.0,Oliver McBurnie,...,15.1,0.0,0,0,Sheffield Utd,-1.0,-1.123593,-0.470623,0.286280,1
35,2024-04-20,L,1.0,4.0,Burnley,2.4,2.2,49.0,28964.0,Oliver McBurnie,...,14.9,0.0,0,0,Sheffield Utd,1.0,-0.777201,-0.470623,0.286280,1
36,2024-04-24,L,2.0,4.0,Manchester Utd,0.8,2.9,29.0,73549.0,Oliver Arblaster,...,17.8,1.0,0,0,Sheffield Utd,-1.0,0.608371,1.626909,-1.496311,1
37,2024-04-27,L,1.0,5.0,Newcastle Utd,1.5,3.1,40.0,52196.0,Oliver Arblaster,...,13.5,0.0,0,0,Sheffield Utd,-1.0,0.781567,-0.470623,0.286280,1
38,2024-05-04,L,1.0,3.0,Nott'ham Forest,2.2,1.5,54.0,28516.0,Jack Robinson,...,18.0,0.0,1,1,Sheffield Utd,1.0,0.954763,-0.470623,0.286280,1

In [16]:
from sklearn.model_selection import GridSearchCV


param_grid = {'C': [0.01, 0.1, 1, 10, 100, 100],  
              'gamma': [10, 1, 0.1, 0.01, 0.001, 0.0001], 
              'kernel': ['linear', 'rbf']
             } 

baseline_svm = SVC()

grid_search = GridSearchCV(estimator=baseline_svm, param_grid=param_grid, cv=5)
grid_search.fit(train[predictors], train['target'])

best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Evaluate the best model
preds_best = best_model.predict(test[predictors])
accuracy_best = accuracy_score(test['target'], preds_best)
print(f"Best SVM Accuracy: {accuracy_best:.2f}")
print(f"Best Hyperparameters: {best_params}")

Best SVM Accuracy: 0.44
Best Hyperparameters: {'C': 0.1, 'gamma': 10, 'kernel': 'linear'}

In [17]:
matches_rolling = pd.read_csv("matches_3classes_rolling.csv", index_col=0)

cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [18]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2024-01-01']
    test = data[data["date"] > '2024-01-01']
    svc.fit(train[predictors], train["target"])
    preds = svc.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds, average='micro')
    model_score = svc.score(test[predictors], test["target"])
    return combined, error, model_score

combined, error, model_score = make_predictions(matches_rolling, predictors + new_cols)

In [19]:
combined.head(20)

    actual  predicted
19       2          2
20       2          2
21       2          2
22       2          2
23       2          2
24       2          2
25       2          2
26       2          2
27       0          2
28       2          2
29       2          2
30       1          2
31       2          1
32       2          2
33       2          2
34       2          2
54       0          1
55       1          2
56       2          1
57       1          2

In [20]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   1   2
actual
0          47  41
1          67  49
2          37  79

In [21]:
error

0.45625

In [22]:
model_score

0.45625

In [23]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [24]:
combined

     actual  predicted        date     team         opponent result
19        2          2  2024-01-20  Arsenal   Crystal Palace      W
20        2          2  2024-01-30  Arsenal  Nott'ham Forest      W
21        2          2  2024-02-04  Arsenal        Liverpool      W
22        2          2  2024-02-11  Arsenal         West Ham      W
23        2          2  2024-02-17  Arsenal          Burnley      W
..      ...        ...         ...      ...              ...    ...
689       0          1  2024-04-13   Wolves  Nott'ham Forest      D
690       1          1  2024-04-20   Wolves          Arsenal      L
691       1          1  2024-04-24   Wolves      Bournemouth      L
692       2          1  2024-04-27   Wolves       Luton Town      W
693       1          1  2024-05-04   Wolves  Manchester City      L

[320 rows x 6 columns]

In [25]:
merged = combined.merge(combined, left_on = ["date", "team"], right_on = ["date", "opponent"])

merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,actual_y,predicted_y,team_y,opponent_y,result_y
0,2,2,2024-01-20,Arsenal,Crystal Palace,W,1,1,Crystal Palace,Arsenal,L
1,2,2,2024-01-30,Arsenal,Nott'ham Forest,W,1,2,Nott'ham Forest,Arsenal,L
2,2,2,2024-02-04,Arsenal,Liverpool,W,1,2,Liverpool,Arsenal,L
3,2,2,2024-02-11,Arsenal,West Ham,W,1,1,West Ham,Arsenal,L
4,2,2,2024-02-17,Arsenal,Burnley,W,1,1,Burnley,Arsenal,L
...,...,...,...,...,...,...,...,...,...,...,...
315,0,1,2024-04-13,Wolves,Nott'ham Forest,D,0,2,Nott'ham Forest,Wolves,D
316,1,1,2024-04-20,Wolves,Arsenal,L,2,1,Arsenal,Wolves,W
317,1,1,2024-04-24,Wolves,Bournemouth,L,2,1,Bournemouth,Wolves,W
318,2,1,2024-04-27,Wolves,Luton Town,W,1,1,Luton Town,Wolves,L
319,1,1,2024-05-04,Wolves,Manchester City,L,2,2,Manchester City,Wolves,W

In [26]:
merged[(merged["predicted_x"] == 2) & (merged["predicted_y"] == 1)]["actual_x"].value_counts()

2    47
0    23
1    17
Name: actual_x, dtype: int64

In [27]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 2)]["actual_x"].value_counts()

1    47
0    23
2    17
Name: actual_x, dtype: int64

In [28]:
merged[(merged["predicted_x"] == 0) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

Series([], Name: actual_x, dtype: int64)

In [29]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

Series([], Name: actual_x, dtype: int64)

In [30]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 1)]["actual_x"].value_counts()

0    24
2    20
1    20
Name: actual_x, dtype: int64

In [31]:
merged[(merged["predicted_x"] == 2) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

Series([], Name: actual_x, dtype: int64)

In [32]:
merged[(merged["predicted_x"] == 2) & (merged["predicted_y"] == 2)]["actual_x"].value_counts()

2    32
1    32
0    18
Name: actual_x, dtype: int64