In [1]:
import pandas as pd

matches = pd.read_csv("matches_2classes.csv", index_col=0)
matches.head()

,date,result,gf,ga,opponent,xg,xga,poss,attendance,captain,...,dist,fk,pk,pkatt,team,venue_code,opp_code,hour,day_code,target
1,2023-08-12,W,2.0,1.0,Nott'ham Forest,0.8,1.2,78.0,59984.0,Martin Ødegaard,...,19.1,0.0,0,0,Arsenal,1,15,12.5,5,1
2,2023-08-21,W,1.0,0.0,Crystal Palace,2.0,1.0,53.0,24189.0,Martin Ødegaard,...,16.4,0.0,1,1,Arsenal,0,7,20.0,0,1
3,2023-08-26,D,2.0,2.0,Fulham,3.2,0.6,71.0,59961.0,Martin Ødegaard,...,13.8,0.0,1,1,Arsenal,1,9,15.0,5,0
4,2023-09-03,W,3.0,1.0,Manchester Utd,2.3,0.9,55.0,60192.0,Martin Ødegaard,...,15.0,0.0,0,0,Arsenal,1,13,16.5,6,1
5,2023-09-17,W,1.0,0.0,Everton,1.0,0.3,74.0,39217.0,Martin Ødegaard,...,17.4,0.0,0,0,Arsenal,0,8,16.5,6,1

In [2]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

train = matches[matches["date"] < '2024-01-01']
test = matches[matches["date"] > '2024-01-01']

In [3]:
train.describe()

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,venue_code,opp_code,hour,day_code,target
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.556122,1.556122,1.506122,1.506122,50.000000,38291.897959,13.165816,4.418367,16.740306,0.359694,0.130102,0.142857,0.500000,9.505102,15.854592,4.704082,0.408163
std,1.276149,1.276149,0.838226,0.838226,13.819627,17727.024935,5.622894,2.519178,3.022492,0.559236,0.358901,0.371628,0.500639,5.781616,2.270804,1.511823,0.492122
min,0.000000,0.000000,0.000000,0.000000,20.000000,10290.000000,2.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.500000,0.000000,0.000000
25%,1.000000,1.000000,0.900000,0.900000,39.000000,24444.750000,9.000000,3.000000,14.900000,0.000000,0.000000,0.000000,0.000000,5.000000,14.000000,5.000000,0.000000
50%,1.000000,1.000000,1.300000,1.300000,50.000000,31812.000000,12.000000,4.000000,16.700000,0.000000,0.000000,0.000000,0.500000,9.000000,15.000000,5.000000,0.000000
75%,2.000000,2.000000,2.100000,2.100000,61.000000,53117.250000,16.000000,6.000000,18.325000,1.000000,0.000000,0.000000,1.000000,15.000000,17.500000,6.000000,1.000000
max,8.000000,8.000000,4.100000,4.100000,80.000000,73607.000000,34.000000,15.000000,39.900000,2.000000,2.000000,2.000000,1.000000,19.000000,20.250000,6.000000,1.000000

In [4]:
test.describe()

,gf,ga,xg,xga,poss,attendance,sh,sot,dist,fk,pk,pkatt,venue_code,opp_code,hour,day_code,target
count,320.00000,320.00000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,1.71875,1.71875,1.568437,1.568437,50.000000,38533.543750,14.156250,4.893750,16.753750,0.384375,0.128125,0.143750,0.500000,9.450000,16.425000,4.318750,0.362500
std,1.40162,1.40162,0.892377,0.892377,13.884205,18081.797256,6.335992,2.716712,2.640625,0.627784,0.370321,0.385422,0.500783,5.794603,2.474605,1.824157,0.481475
min,0.00000,0.00000,0.100000,0.100000,18.000000,10994.000000,2.000000,0.000000,8.400000,0.000000,0.000000,0.000000,0.000000,0.000000,12.500000,0.000000,0.000000
25%,1.00000,1.00000,0.900000,0.900000,40.000000,24417.000000,9.000000,3.000000,14.900000,0.000000,0.000000,0.000000,0.000000,4.000000,15.000000,3.750000,0.000000
50%,1.00000,1.00000,1.400000,1.400000,50.000000,38193.000000,13.000000,5.000000,16.750000,0.000000,0.000000,0.000000,0.500000,9.000000,15.000000,5.000000,0.000000
75%,3.00000,3.00000,2.100000,2.100000,60.000000,53445.000000,18.000000,6.000000,18.500000,1.000000,0.000000,0.000000,1.000000,14.250000,19.500000,5.000000,1.000000
max,6.00000,6.00000,4.200000,4.200000,82.000000,73612.000000,36.000000,15.000000,25.400000,3.000000,2.000000,2.000000,1.000000,19.000000,20.250000,6.000000,1.000000

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

rf = RandomForestClassifier(n_estimators=100, 
                            min_samples_split=20, 
                            random_state=1)

rf.fit(train[predictors], train['target'])

RandomForestClassifier(min_samples_split=20, random_state=1)

In [6]:
preds = rf.predict(test[predictors])

In [7]:
error = accuracy_score(test['target'], preds)

In [8]:
error

0.615625

In [9]:
precision_score(test['target'], preds, 
                average='binary')

0.4588235294117647

In [10]:
precision_score(test['target'], preds, 
                average='macro')

0.5655819774718398

In [11]:
precision_score(test['target'], preds, 
                average='micro')

0.615625

In [12]:
precision_score(test['target'], preds, 
                average='weighted')

0.5949405506883604

In [13]:
rf.score(test[predictors], test["target"])

0.615625

In [14]:
combined = pd.DataFrame(dict(actual=test['target'], predicted=preds))

In [15]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          158  46
1           77  39

In [16]:
matches_rolling = pd.read_csv("matches_2classes_rolling.csv", index_col=0)

cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

In [17]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2024-01-01']
    test = data[data["date"] > '2024-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds, average='micro')
    model_score = rf.score(test[predictors], test["target"])
    return combined, error, model_score

combined, error, model_score = make_predictions(matches_rolling, predictors + new_cols)

In [18]:
combined.head(20)

    actual  predicted
19       1          1
20       1          1
21       1          1
22       1          1
23       1          1
24       1          1
25       1          0
26       1          1
27       0          0
28       1          1
29       1          0
30       0          1
31       1          0
32       1          0
33       1          1
34       1          1
54       0          0
55       0          1
56       1          0
57       0          1

In [19]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          157  47
1           58  58

In [20]:
error

0.671875

In [21]:
model_score

0.671875

In [22]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [23]:
combined

     actual  predicted        date     team         opponent result
19        1          1  2024-01-20  Arsenal   Crystal Palace      W
20        1          1  2024-01-30  Arsenal  Nott'ham Forest      W
21        1          1  2024-02-04  Arsenal        Liverpool      W
22        1          1  2024-02-11  Arsenal         West Ham      W
23        1          1  2024-02-17  Arsenal          Burnley      W
..      ...        ...         ...      ...              ...    ...
689       0          0  2024-04-13   Wolves  Nott'ham Forest      D
690       0          0  2024-04-20   Wolves          Arsenal      L
691       0          0  2024-04-24   Wolves      Bournemouth      L
692       1          0  2024-04-27   Wolves       Luton Town      W
693       0          0  2024-05-04   Wolves  Manchester City      L

[320 rows x 6 columns]

In [24]:
merged = combined.merge(combined, left_on = ["date", "team"], right_on = ["date", "opponent"])

merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,actual_y,predicted_y,team_y,opponent_y,result_y
0,1,1,2024-01-20,Arsenal,Crystal Palace,W,0,0,Crystal Palace,Arsenal,L
1,1,1,2024-01-30,Arsenal,Nott'ham Forest,W,0,0,Nott'ham Forest,Arsenal,L
2,1,1,2024-02-04,Arsenal,Liverpool,W,0,0,Liverpool,Arsenal,L
3,1,1,2024-02-11,Arsenal,West Ham,W,0,0,West Ham,Arsenal,L
4,1,1,2024-02-17,Arsenal,Burnley,W,0,0,Burnley,Arsenal,L
...,...,...,...,...,...,...,...,...,...,...,...
315,0,0,2024-04-13,Wolves,Nott'ham Forest,D,0,0,Nott'ham Forest,Wolves,D
316,0,0,2024-04-20,Wolves,Arsenal,L,1,0,Arsenal,Wolves,W
317,0,0,2024-04-24,Wolves,Bournemouth,L,1,0,Bournemouth,Wolves,W
318,1,0,2024-04-27,Wolves,Luton Town,W,0,0,Luton Town,Wolves,L
319,0,0,2024-05-04,Wolves,Manchester City,L,1,1,Manchester City,Wolves,W

In [25]:
merged[(merged["predicted_x"] == 0) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

0    89
1    41
Name: actual_x, dtype: int64

In [26]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 0)]["actual_x"].value_counts()

1    49
0    36
Name: actual_x, dtype: int64

In [28]:
merged[(merged["predicted_x"] == 0) & (merged["predicted_y"] == 1)]["actual_x"].value_counts()

0    68
1    17
Name: actual_x, dtype: int64

In [27]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] == 1)]["actual_x"].value_counts()

0    11
1     9
Name: actual_x, dtype: int64